{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron">
    <div align='center'>
      <h1>Методики категории: {{category.category_name}}</h1>
    </div>
  </div>


  <!--  SHOW Methodics-->
  <div class="container">
    <div class="card-columns">
    {% for method in methodics.items %}
          <div class="card shadow-sm">
            <a href="{{url_for('methodics.method', method_id=method.id)}}">
              <img class="card-img-top" src="{{url_for('static', filename = 'methodics_pics/method_ava/'+method.method_label_image)}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{method.title}}</h5>
              {% for list in short_desc_dict[method.id] %}
                  <p class="card-text">{{ list }}</p>
              {% endfor %}
            </div>
            <div align='right'>
              <a class='btn btn-primary btn-sm' style="margin-right:6px;" href="{{url_for('methodics.method', method_id=method.id)}}">Открыть</a>
            </div>
            <div class="" align='right' style="margin-right:5px">
              <footer class="footer">
                <small class="text-muted">
                  Автор: <a href="{{url_for('users.user_methodics', username=method.author.username)}}"> {{method.author.username}}</a><br>
                  Добавленно: {{date_translate(method.publish_date)}}<br>
                  {% if method.change_date != None %}
                    Последнее обновление: {{date_translate(method.change_date)}}
                  {% endif %}
                </small>
              </footer>
            </div>
          </div>
    {% endfor %}
    </div>
  </div>


  <nav aria-label='Page Navigation example'>
    <ul class='pagination justify-content-center'>
      {% for page_num in methodics.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if methodics.page == page_num %}  <!-- Если мы уже на запрашиваемой странице -->
          <li class='page-item disabled'>  <!-- то номер этой страницы задисэйблин -->
            <a class='page-link' href="{{url_for('methodics.category_methodics', category=category.id, page=page_num)}}">{{page_num}}</a>
          </li>
        {% else %}
          <li class='page-item'>  <!-- то номер этой страницы задисэйблин -->
            <a class='page-link' href="{{url_for('methodics.category_methodics', category=category.id, page=page_num)}}">{{page_num}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

{% endblock %}
