{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron" align="center">
    <h2>Добавление методики</h2>
      {% if method %}
        <img align='center' src="{{url_for('static', filename='methodics_pics/method_ava'+method.method_label_image)}}">
      {% else %}
        <img align='center' src="{{url_for('static', filename='methodics_pics/method_ava/default_method.png')}}">
      {% endif %}

    <p>Заполните форму ниже, и нажмите Сохранить</p>
  </div>
  <div class="container">
    <form class="form-group" method="post">
      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.title.label(class='form-control-label')}}
        {{form.title(class='form-control form-control-lg')}}
      </div>
      <div class="form-group">
        {{form.short_desc.label(class='form-control-label')}}
        {{form.short_desc(class='form-control form-control-lg')}}
      </div>
      <div class="form-group">
        {{form.target.label(class='form-control-label')}}
        {{form.target(class='form-control form-control-lg')}}
      </div>
      <div class="form-group">
        {{form.description.label(class='form-control-label')}}
        {{form.description(class='form-control form-control-lg')}}
      </div>
      <div class="form-group">
        {{form.tags.label(class='form-control-label')}}
        {{form.tags(class='form-control form-control-lg')}}
      </div>
      <div class="form-group">
        {{form.category.label(class='form-control-label')}} {{category}}
        <!-- {{form.category(class='form-control form-control-lg', value=1)}} -->
      </div>
      <p>Сохранив новую методику вы перейдте к ее расширенному редактированию.</p>
      <div class="form-group" align='right'>
        {{form.submit(class='btn btn-outline-info')}}
      </div>
    </form>
  </div>
{% endblock %}
