{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron">
    <!--  FLASH  -->
    {% for mess in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ mess }}
    </div>
    {% endfor %}

    <!-- Вывод методики в карточки по пунктам -->
    <h1>{{method.title}}</h1>
    <div align='right'>
      <h6 class="card-subtitle mb-2 text-muted">Written By:
      <a href="{{url_for('users.user_methodics', username=method.author.username)}}"> {{method.author.username}}</a></h6>
      <h6 class="card-subtitle mb-2 text-muted">Published: {{method.publish_date.strftime('%d %B %Y')}}</h6>
      {% if (method.change_date != None) %}
        <h6 class="card-subtitle mb-2 text-muted">Updated: {{method.change_date.strftime('%d %B %Y')}}</h6>
      {% endif %}
    </div>
    <!-- Вывод короткого описания -->
      {% for line in short_desc %}
        <p>{{line}}</p>
      {% endfor %}
  </div>

    {% if (description != "" and method.literature != None) %}
      <div class="card">
        <h5 class="card-header">Достигаемые цели:</h5>
        <div class="card-body">
          <p class="card-text">{{method.target}}</p>
        </div>
      </div>
    {% endif %}

    {% if (description != "" and method.literature != None) %}
      <div class="card">
        <h5 class="card-header">Описание:</h5>
        <div class="card-body">
          {% for line in description %}
              <p class="card-text">{{line}}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if (method.consumables != "" and method.literature != None) %}
      <div class="card">
        <h5 class="card-header">Необходимые материалы:</h5>
        <div class="card-body">
          {{method.consumables}}
        </div>
      </div>
    {% endif %}

    <!-- <h5>Необходимые материалы:</h5>
    <pre STYLE="font-size: 12pt; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">{{method.consumables}}</pre>
    {{method.consumables}} -->

    <h5>Презентация:</h5>
    {{method.presentation}}

    {% if (method.images != "" and method.literature != None) %}
      <div class="card">
        <h5 class="card-header">Изображения:</h5>
        <div class="card-body">
          {% for (link, thumb) in images_list %}
              <a href="{{ link }}">
                <img src="{{url_for('static', filename=''+thumb)}}" alt="" style="margin:3px; margin-top:3px; position: relative">
              </a>
<!-- {{url_for('static', filename='profile_pics/'+current_user.profile_image)}} -->
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if (method.music != "" and method.literature != None) %}
      <div class="card">
        <h5 class="card-header">Музыка:</h5>
        <div class="card-body">
          {{method.music}}
        </div>
      </div>
    {% endif %}

    {% if (method.video != "" and method.literature != None) %}
      <div class="card">
        <h5 class="card-header">Видео:</h5>
        <div class="card-body">
          {{method.video}}
        </div>
      </div>
    {% endif %}

    {% if (method.literature != "" and method.literature != None) %}
      <div class="card">
        <h5 class="card-header">Методическая литература:</h5>
        <div class="card-body">
          {{method.literature}}
        </div>
      </div>
    {% endif %}



    {% if method.author == current_user %}
      <div class="" align='right'>
        <a href="{{url_for('methodics.update', method_id=method.id)}}">Update</a>
        <button type="button" class='btn btn-danger' data-toggle='modal' data-target='#del_modal'>Delete</button>  <!-- Кнопка вызывает всплывающее окно modal описанное ниже-->
      </div>
    {% endif %}



  <div class="modal" tabindex="-1" role="dialog" id='del_modal'>   <!--  id='del_modal' это тоже имя что и в настройке кнопки data-target='#del_modal'-->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the post?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!--  Вставка взамен существующей в примере кнопки-->
        <form action="{{url_for('methodics.delete_method', method_id=method.id)}}" method="POST">
          <input class='btn btn-danger' type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
<p></p>
{% endblock %}
