{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron">
    <!-- Вывод методики в карточки по пунктам -->
    <div class="container">
      <div class="row">
        <div class="col-auto" align='center'>
          <img align='center' height='200px' src="{{url_for('static', filename = 'methodics_pics/method_ava/'+method_label_image)}}">
        </div>
        <div class="col-lg">
          <h1>{{method.title}}</h1>
          <!-- Вывод короткого описания -->
          {% for line in short_desc %}
            <p>{{line}}</p>
          {% endfor %}
          <div align='right'>
            <h6 class="card-subtitle mb-2 text-muted">Автор:
            <a href="{{url_for('users.user_methodics', username=method.author.username)}}"> {{method.author.username}}</a></h6>
            <!-- <small class="form-text text-muted">Добавленно: {{method.publish_date.strftime('%d %B %Y')}}</small> -->
            <small class="form-text text-muted">Добавленно: {{date_translate(method.publish_date)}}</small>
            {% if (method.change_date != None) %}
              <small class="form-text text-muted">Последнее обновление: {{date_translate(method.change_date)}}</small>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

    {% if (method.target != "" and method.target != None) %}
      <div class="card">
        <h5 class="card-header">Достигаемые цели:</h5>
        <div class="card-body">
          <p class="card-text">{{method.target}}</p>
        </div>
      </div>
    {% endif %}

    {% if (description != "" and method.description != None) %}
      <div class="card">
        <h5 class="card-header">Описание:</h5>
        <div class="card-body">
          {% for line in description %}
              <p class="card-text">{{line}}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if (method.consumables != "" and method.consumables != None) %}
      <div class="card">
        <h5 class="card-header">Необходимые материалы:</h5>
        <div class="card-body">
          {{method.consumables}}
        </div>
      </div>
    {% endif %}

    {% if (method.presentation != "" and method.presentation != None) %}
      <div class="card">
        <h5 class="card-header">Презентация:</h5>
        <div class="card-body">
          {{method.presentation}}
          <a class='btn btn-outline-success btn-sm' href="{{url_for('methodics.download_presentation', method_id=method.id)}}">Скачать</a>
        </div>
      </div>
    {% endif %}

    {% if timing_duration %}
      <div class="card">
        <h5 class="card-header">Продолжительность занятия: {{timing_duration}} мин.</h5>
        <div class="card-body">
          <p><strong>Этапы занятия:</strong></p>
          <table class="table table-sm">
            <tr class="table-info">
              <th scope="col">Длительность</th>
              <th scope="col">Описание</th>
              <th scope="col">Результат этапа</th>
            </tr>
            {% for step in steps %}
              <tr>
                <td> {{ step.step_duration }} мин.</td>
                <td> {{ step.step_desc }}</td>
                <td> {{ step.step_result }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}

    {% if (method.images != "" and method.images != None) %}
      <div class="card">
        <h5 class="card-header">Изображения:</h5>
        <div class="card-body">
          {% for (link, thumb) in images_list %}
              <a href="{{ link }}">
                <img src="{{url_for('static', filename=''+thumb)}}" alt="" style="margin:3px; margin-top:3px; position: relative">
              </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if (method.music != "" and method.music != None) %}
      <div class="card">
        <h5 class="card-header">Музыка:</h5>
        <div class="card-body">
          {% for width, height, music_url in music_list %}
              <iframe frameborder="0" style="border:none;width:{{width}};height:{{height}};" width="{{width}}" height="{{height}}" src="{{music_url}}"></iframe>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if (method.video != "" and method.video != None) %}
      <div class="card">
        <h5 class="card-header">Видео:</h5>
        <div class="card-body">
          {% for video in videos %}
              <iframe width="560" height="315" style="margin:3px; margin-top:3px; position: relative" src="{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if (method.literature != "" and method.literature != None) %}
      <div class="card">
        <h5 class="card-header">Методическая литература:</h5>
        <div class="card-body">
          {{method.literature}}
        </div>
      </div>
    {% endif %}


    {% if ((method.author == current_user) or (current_user.username == 'Administrator')) %}
      <br>
      <div class="" align='right'>
        <a class='btn btn-warning' href="{{url_for('methodics.update', method_id=method.id)}}">Изменить</a>
        <button type="button" class='btn btn-danger' data-toggle='modal' data-target='#del_modal'>Удалить</button>  <!-- Кнопка вызывает всплывающее окно modal описанное ниже-->
      </div>
    {% endif %}



  <div class="modal" tabindex="-1" role="dialog" id='del_modal'>   <!--  id='del_modal' это тоже имя что и в настройке кнопки data-target='#del_modal'-->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удалить методику?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы уверены что хотите полностью удалить методику?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
        <!--  Вставка взамен существующей в примере кнопки-->
        <form action="{{url_for('methodics.delete_method', method_id=method.id)}}" method="POST">
          <input class='btn btn-danger' type="submit" value="Удалить">
        </form>
      </div>
    </div>
  </div>
</div>
<p></p>

{% endblock %}
