{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="jumbotron">
    <!-- Вывод методики в карточки по пунктам -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto" align='left'>
          <img align='center' height='200px' src="{{url_for('static', filename = 'methodics_pics/method_ava/'+method_label_image)}}">
        </div>
        <div class="col-lg">
          <h1>{{method.title}}</h1>
          <!-- Вывод короткого описания -->
          {{short_desc}}
          <br><br>
          <div align='right'>
            <h6 class="card-subtitle mb-2 text-muted">Автор:
            <a href="{{url_for('users.user_methodics', username=method.author.username)}}"> {{method.author.username}}</a></h6>
            <!-- <small class="form-text text-muted">Добавленно: {{method.publish_date.strftime('%d %B %Y')}}</small> -->
            <small class="form-text text-muted">Добавленно: {{date_translate(method.publish_date)}}</small>
            {% if (method.change_date != None) %}
              <small class="form-text text-muted">Последнее обновление: {{date_translate(method.change_date)}}</small>
            {% endif %}
            <br>
            <div class="" align='right'>
              {% if ((method.author == current_user) or (current_user.username == 'Administrator') or (curr_user_role in ['admin', 'moder'])) %}
                <a class='btn btn-outline-warning btn-sm' href="{{url_for('methodics.update', method_id=method.id)}}">Изменить</a>
              {% endif %}
              {% if ((method.author == current_user) or (current_user.username == 'Administrator') or (curr_user_role in ['admin'])) %}
                <button type="button" class='btn btn-outline-danger btn-sm' data-toggle='modal' data-target='#del_modal'>Удалить</button>  <!-- Кнопка вызывает всплывающее окно modal описанное ниже-->
              {% endif %}
            </div>
            <br>
            <a  href="{{url_for('comments.comments_view', item_id=method.id, item_type=1)}}">Комментарии </a>
            {% if quant_of_comments %}
              <span class="badge badge-light"> {{quant_of_comments}}</span>
            {% else %}
              <span class="badge badge-light"> 0</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if (method.target != "" and method.target != None) %}
    <div class="card">
      <h5 class="card-header">Достигаемые цели:</h5>
      <div class="card-body">
        <p class="card-text">{{method.target}}</p>
      </div>
    </div>
  {% endif %}

  {% if (method.age_from != "" and method.age_from != None) %}
    <div class="card">
      <h5 class="card-header">Возраст участников:</h5>
      <div class="card-body">
        <p class="card-text">от {{age_list[0]}} до {{age_list[1]}} лет.</p>
      </div>
    </div>
  {% endif %}

  {% if (description != "" and method.description != None) %}
    <div class="accordion" id="accordionDescription">
      <div class="card">
        <h5 class="card-header" id="headingDescription">
          <table width="100%">
            <tr>
              <td>Описание:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="True" aria-controls="collapseDescription">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseDescription" class="collapse show" aria-labelledby="headingDescription" data-parent="#accordionDescription">
          <div class="card-body">
            {{description}}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (method.consumables != "" and method.consumables != None) %}
    <div class="card">
      <h5 class="card-header">Необходимые материалы:</h5>
      <div class="card-body">
        {{consumables}}
      </div>
    </div>
  {% endif %}

  {% if (method.presentation != "" and method.presentation != None) %}
    <div class="card">
      <h5 class="card-header">Презентация:</h5>
      <div class="card-body">
        <table class="table table-sm">
          {% for presentation in presentations %}
            <tr>
              <td>{{presentation}}</td>
              <td><a class='btn btn-outline-success btn-sm' href="{{url_for('methodics.download_presentation', method_id=method.id, presentation=presentation)}}">Скачать</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}

  {% if timing_duration %}
    <div class="card">
      <h5 class="card-header">Продолжительность занятия: {{timing_duration}} мин.</h5>
    </div>
    {% if steps != None %}
      <div class="accordion" id="accordionSteps">
        <div class="card">
          <h5 class="card-header" id="headingSteps">
            <table width="100%">
              <tr>
                <td>Этапы занятия:</td>
                <td>
                  <div align="right">
                    <button class="btn btn-outline-info collapsed btn-sm" type="button" data-toggle="collapse" data-target="#collapseSteps" aria-expanded="false" aria-controls="collapseSteps">
                      просмотреть / скрыть
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </h5>
          <div id="collapseSteps" class="collapse" aria-labelledby="headingSteps" data-parent="#accordionSteps">
            <div class="card-body">
              <table class="table table-sm">
                <tr class="table-info">
                  <th scope="col">Длительность</th>
                  <th scope="col">Описание</th>
                  <th scope="col">Результат этапа</th>
                </tr>
                {% for step in steps %}
                  <tr>
                    <td> {{ step.step_duration }} мин.</td>
                    <td> {{ steps_desc_dict[step.id] }}</td>
                    <td> {{ steps_results_dict[step.id] }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if (method.images != "" and method.images != None) %}
    <div class="accordion" id="accordionImage">
      <div class="card">
        <h5 class="card-header" id="headingImage">
          <table width="100%">
            <tr>
              <td>Используемые изображения:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseImage" aria-expanded="True" aria-controls="collapseImage">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseImage" class="collapse show" aria-labelledby="headingImage" data-parent="#accordionImage">
          <div class="card-body">
            {% for (link, thumb) in images_list %}
                <a href="{{ link }}"><img src="{{url_for('static', filename=''+thumb)}}" alt="" style="margin:3px; margin-top:3px; position: relative"></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (method.music != "" and method.music != None) %}
    <div class="accordion" id="accordionMusic">
      <div class="card">
        <h5 class="card-header" id="headingMusic">
          <table width="100%">
            <tr>
              <td>Музыка:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseMusic" aria-expanded="True" aria-controls="collapseMusic">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseMusic" class="collapse show" aria-labelledby="headingMusic" data-parent="#accordionMusic">
          <div class="card-body">
            {% for width, height, music_url in music_list %}
                <iframe frameborder="0" style="border:none;width:{{width}};height:{{height}};" width="{{width}}" height="{{height}}" src="{{music_url}}"></iframe>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (method.video != "" and method.video != None) %}
    <div class="accordion" id="accordionVideo">
      <div class="card">
        <h5 class="card-header" id="headingVideo">
          <table width="100%">
            <tr>
              <td>Видео:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseVideo" aria-expanded="True" aria-controls="collapseVideo">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseVideo" class="collapse show" aria-labelledby="headingVideo" data-parent="#accordionVideo">
          <div class="card-body">
            {% for video in videos %}
                <iframe width="560" height="315" style="margin:3px; margin-top:3px; position: relative" src="{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (method.literature != "" and method.literature != None) %}
    <div class="card">
      <h5 class="card-header">Методическая литература:</h5>
      <div class="card-body">
        {{literature}}
      </div>
    </div>
  {% endif %}

  {% if (method.category != "" and method.category != None) %}
    <div class="card">
      <h5 class="card-header">Категория:</h5>
      <div class="card-body">
        {{category}}
      </div>
    </div>
  {% endif %}

  <div class="modal" tabindex="-1" role="dialog" id='del_modal'>   <!--  id='del_modal' это тоже имя что и в настройке кнопки data-target='#del_modal'-->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удалить методику?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы уверены что хотите полностью удалить методику?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
        <!--  Вставка взамен существующей в примере кнопки-->
        <form action="{{url_for('methodics.delete_method', method_id=method.id)}}" method="POST">
          <input class='btn btn-danger' type="submit" value="Удалить">
        </form>
      </div>
    </div>
  </div>
</div>
<p></p>

{% endblock %}
