{% extends 'base.html' %}
{% block content %}
<form class="form-group" method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <div class="jumbotron" align="center">
    <div class="container">
      <div class="row">
        <div class="col-sm" align='left'>
          <img align='center' height='200px' src="{{url_for('static', filename = 'methodics_pics/method_ava/'+method_label_image)}}">
          <br><br>
          <div class="form-group" align='left'>
            {{form.method_label_image.label(class='form-group')}}
            {{form.method_label_image(class='form-control-file')}}
          </div>
        </div>
        <div class="col-lg">
          <h2>Редактирование методики</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h5>Заполните форму ниже, и нажмите Сохранить</h5>
    <div class="form-group">
      {{form.title.label(class='form-control-label')}}
      {{form.title(class='form-control form-control-lg')}}
    </div>
    <div class="form-group">
      {{form.short_desc.label(class='form-control-label')}}
      {{form.short_desc(class='form-control form-control-lg')}}
    </div>

    <div class="form-group">
      {{form.target.label(class='form-control-label')}}
      {{form.target(class='form-control form-control-lg')}}
    </div>
    <div class="form-group">
      {{form.description.label(class='form-control-label')}}
      {{form.description(class='form-control form-control-lg', rows="5")}}
    </div>
    <div class="form-group">
      {{form.consumables.label(class='form-control-label')}}
      {{form.consumables(class='form-control form-control-lg')}}
    </div>
    <!-- TIMING -->
    <div class="form-group">
      {% if timing_id %}
        {{form.timing_id.label(class='form-control-label')}}
        {{timing_id}} минут <br>
        <a class='btn btn-warning' href="{{url_for('timing.edit_timing', method_id=method_id)}}">Этапы занятия</a>
      {% else %}
        {{form.timing_id.label(class='form-control-label')}}
        {{timing_id}}
        <a class='btn btn-success' href="{{url_for('timing.add_timing', method_id=method_id)}}">Добавить ход занятия</a>
      {% endif %}
    </div>
    <div class="form-group">
      {{form.images.label(class='form-control-label')}}
      <small class="form-text text-muted">Добавьте ссылки на изображения. Каждая с новой строки.</small>
      {{form.images(class='form-control form-control-lg', rows="4")}}
    </div>
    <div class="form-group">
      {{form.music.label(class='form-control-label')}}
      <small class="form-text text-muted">Добавьте ссылки на <a href="https://music.yandex.ru/home" target="_blank">Yandex.Music</a>. Для этого выберите композицию или плей-лист. Нажмите <img src="/static/base/yandex_share_sign.PNG" height="20px"> (поделиться).
        Выберите HTML-код. Скопируйте содержимое поля HTML-код и вставьте сюда. Каждое с новой строки.</small>
      {{form.music(class='form-control form-control-lg')}}
    </div>
    <div class="form-group">
      {{form.video.label(class='form-control-label')}}
      <small class="form-text text-muted">Добавьте ссылки на <a href="https://www.youtube.com/" target="_blank">YouTube</a>. Каждая с новой строки.</small>
      {{form.video(class='form-control form-control-lg')}}
    </div>
    <div class="form-group">
      {{form.literature.label(class='form-control-label')}}
      {{form.literature(class='form-control form-control-lg')}}
    </div>
    <!-- Блок работы с презентацией -->
    {% if curr_presentation %}
      Прикрепленная презентация:<br> {{curr_presentation}}
      <a class='btn btn-outline-success btn-sm' href="{{url_for('methodics.download_presentation', method_id=method_id)}}">Скачать</a>
      <a class='btn btn-outline-danger btn-sm' href="{{url_for('methodics.delete_presentation', method_id=method_id)}}">Удалить</a>
      <div class="form-group">
        Для замены презентации (pdf, pptx)
        {{form.presentation(class='form-control-file')}}
      </div>
    {% else %}
    <div class="form-group">
      {{form.presentation.label(class='form-control-label')}}
      {{form.presentation(class='form-control-file')}}
    </div>
    {% endif %}
    <div class="form-group">
      {{form.tags.label(class='form-control-label')}}
      {{form.tags(class='form-control form-control-lg')}}
    </div>
    <div class="form-group">
      {{form.category.label(class='form-control-label')}}
      {{category}}
      <!-- {{form.category(class='form-control form-control-lg')}} -->
    </div>
    <div class="form-group" align='right'>
      {{form.submit(class='btn btn-outline-info')}}
    </div>
  </div>
</form>

{% endblock %}
