{% extends 'base.html' %}
{% block content %}
<br>
<form class="form-group" method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-auto" align='left'>
          <img align='center' height='200px' src="{{url_for('static', filename = 'methodics_pics/method_ava/'+method_label_image)}}">
          <br><br>
          <div class="form-group" align='left'>
            {{form.method_label_image.label(class='form-group')}}
            {{form.method_label_image(class='form-control-file')}}
          </div>
        </div>
        <div class="col-lg">
          <h2>Редактирование методики</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div align="right" class="text-muted">
      <h5>Заполните форму ниже и нажмите {{form.submit(class='btn btn-outline-info')}}</h5>
    </div>
    <div class="form-group">
      <strong>{{form.title.label(class='form-control-label')}}</strong>
      {{form.title(class_='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.short_desc.label(class='form-control-label')}}</strong>
      {{form.short_desc(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.target.label(class='form-control-label')}}</strong>
      {{form.target(class='form-control')}}
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Возраст участников от и до</span>
        </div>
        {{form.age_range_from(class='form-control')}}
        {{form.age_range_till(class='form-control')}}
      </div>
      <small class="form-text text-muted">Только цифры</small>
    </div>
    <div class="form-group">
      <strong>{{form.description.label(class='form-control-label')}}</strong>
      {{form.description(class='form-control', id="editor")}}
    </div>
    <div class="form-group">
      <strong>{{form.consumables.label(class='form-control-label')}}</strong>
      {{form.consumables(class='form-control')}}
    </div>
    <!-- TIMING -->
    <div class="form-group">
      {% if timing_id %}
        <strong>{{form.timing_id.label(class='form-control-label')}}</strong>
        {{timing_id}} минут <br>
        <a class='btn btn-warning' href="{{url_for('timing.edit_timing', method_id=method_id)}}">Этапы занятия</a>
      {% else %}
        <strong>{{form.timing_id.label(class='form-control-label')}}</strong>
        {% if timing_id %}
          {{timing_id}}
        {% else %}
          <span class="text-danger">не указана</span>
        {% endif %}
        <a class='btn btn-success' href="{{url_for('timing.add_timing', method_id=method_id)}}">Добавить ход занятия</a>
      {% endif %}
    </div>
    <div class="form-group">
      <strong>{{form.images.label(class='form-control-label')}}</strong>
      <small class="form-text text-muted">Добавьте ссылки на изображения. Для этого на выбранном изображении кликните правой кнопкой мыши и выберите пункт "Копировать URL картинки", затем вставьте его в это поле. Каждый с новой строки.</small>
      {{form.images(class='form-control', rows="4")}}
    </div>
    <div class="form-group">
      <strong>{{form.music.label(class='form-control-label')}}</strong>
      <small class="form-text text-muted">Добавьте ссылки на <a href="https://music.yandex.ru/home" target="_blank">Yandex.Music</a>. Для этого выберите композицию или плей-лист. Нажмите <img src="/static/base/yandex_share_sign.PNG" height="20px"> (поделиться).
        Выберите HTML-код. Скопируйте содержимое поля HTML-код и вставьте сюда. Каждое с новой строки.</small>
      {{form.music(class='form-control', rows="4")}}
    </div>
    <div class="form-group">
      <strong>{{form.video.label(class='form-control-label')}}</strong>
      <small class="form-text text-muted">Добавьте ссылки на <a href="https://www.youtube.com/" target="_blank">YouTube</a>. Каждая с новой строки.</small>
      {{form.video(class='form-control', rows="4")}}
    </div>
    <div class="form-group">
      <strong>{{form.literature.label(class='form-control-label')}}</strong>
      {{form.literature(class='form-control')}}
    </div>
    <!-- Блок работы с презентацией -->
    {% if presentations %}
      <!-- Прикрепленные файлы презентации: -->
      <table class="table table-sm">
        <tr class="table-info">
          <th scope="col">Прикрепленные файлы презентации:</th>
          <th></th>
        </tr>
        {% for presentation in presentations %}
          <tr>
            <td> {{presentation}}</td>
            <td align='center'> <a class='btn btn-outline-success btn-sm' href="{{url_for('methodics.download_presentation', method_id=method_id, presentation=presentation)}}">Скачать</a>
            <a class='btn btn-outline-danger btn-sm' href="{{url_for('methodics.delete_presentation', method_id=method_id, presentation=presentation)}}">Удалить</a></td>
          </tr>
        {% endfor %}
      </table>
      <div class="form-group">
        Для добавления еще одного файла презентации (pdf, pptx) или текста пояснения к презентации (docx, txt)
        {{form.presentation(class='form-control-file')}}
        <small class='text-muted'>Не более 20Мб</small>
      </div>
    {% else %}
    <div class="form-group">
      {{form.presentation.label(class='form-control-label')}}
      {{form.presentation(class='form-control-file')}}
    </div>
    {% endif %}
    <hr>
    <!-- Роли пользователей -->
    <div class="form-group">
      <table width='100%'>
        <tr>
          <td>
            <strong>Роли доступа</strong>
          </td>
          <td>
            {% if ((method.author == current_user) or (current_user.username == 'Administrator') or (curr_user_role in ['admin'])) %}
              <div align='right'>
                <a class='btn btn-outline-info btn-sm' href="{{url_for('users.search_user')}}">Добавить роль</a>
              </div>
            {% endif %}
          </td>
        </tr>
      </table>
      {% if users_role_dict %}
        <table width='100%' class="table table-sm">
          <thead class="table-info">
            <tr>
              <th>Имя пользователя</th>
              <th>Роль</th>
              <th>Описание</th>
              <th></th>
            </tr>
          </thead>
          {% for user_role in users_role_dict.items() %}
            <tr>
              <td>
                {{user_role[1][0]}}
              </td>
              <td>
                {% if user_role[1][1] == 1 %}
                  Администратор
                {% elif user_role[1][1] == 2 %}
                  Модератор
                {% elif user_role[1][1] == 3 %}
                  Полный просмотр
                {% endif %}
              </td>
              <td>
                {% if user_role[1][1] == 1 %}
                  Редактирование, Добавление, Удаление
                {% elif user_role[1][1] == 2 %}
                  Редактирование, Добавление
                {% elif user_role[1][1] == 3 %}
                  Просмотр всей информации
                {% endif %}
              </td>
              {% if ((method.author == current_user) or (current_user.username == 'Administrator') or (curr_user_role in ['admin'])) %}
                <td align='right'>
                  <a class='btn btn-outline-danger btn-sm' href="{{url_for('users.delete_user_role', role_id=user_role[1][2], item_id=method_id, item_type=1)}}">Удалить роль</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
    <div class="form-group">
      <strong>{{form.tags.label(class='form-control-label')}}</strong>
      {{form.tags(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.category.label(class='form-control-label')}}</strong>
      <select class="form-control" name="form_category">
        <!-- <option selected value="{{category.id}}">{{category}}</option> -->
        {% for cat_num, category_name, count in html_category_list %}
            {% if cat_num == category.id%}
              <option selected value={{cat_num}}>{{category_name}}</option>
            {% else %}
              <option value={{cat_num}}>{{category_name}}</option>
            {% endif %}
        {% endfor %}
      </select>
      <a href="{{url_for('methodics.category_setup')}}" target="_blank"><small>Добавить категорию</small></a>
    </div>
    <div class="form-group" align='right'>
      {{form.submit(class='btn btn-outline-info')}}
    </div>
  </div>
</form>

{% endblock %}
