{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" align="center">
  <h2>Этап занятия</h2>
  <p>Для добавления описания этапа вашего занятия заполните форму и нажмите Сохранить</p>
</div>


<div class="container">
  <form class="form-group" method="post">
    {{form.hidden_tag()}}
    <div class="form-group">
      <strong>{{form.step_seq_number.label(class='form-control-label')}}</strong>
      {{form.step_seq_number(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.step_duration.label(class='form-control-label')}}</strong>
      <small class="form-text text-muted">Только цифры</small>
      {{form.step_duration(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.step_desc.label(class='form-control-label')}}</strong>
      {{form.step_desc(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.step_result.label(class='form-control-label')}}</strong>
      {{form.step_result(class='form-control')}}
    </div>
    <div class="form-group" align='right'>
      {{form.submit(class='btn btn-outline-info')}}
    </div>

{% endblock %}
