{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" align="center">
  <h2>Ход занятия</h2>
  <p>Укажите длительность занятия, добавьте <strong>по порядку</strong> необходимое количество этапов и нажмите Сохранить</p>
</div>


<div class="container">
  <form class="form-group" method="post">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.duration.label(class='form-control-label')}}
      {{form.duration(class='form-control form-control-lg')}}
    </div>
    {% if form.duration.error %}
        <ul class="errors">{% for error in form.duration.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    <div class="form-group" align='right'>
      {{form.submit(class='btn btn-outline-info')}}
    </div>
  </form>
</div>

{% endblock %}
