{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="jumbotron">
    <div align='center'>
      <h2>{{current_user.username}}, это страница с вашей информацией</h2>
      <img align='center' class="rounded-circle" src="{{url_for('static', filename='profile_pics/'+current_user.profile_image)}}">
      <p>{{current_user.email}}</p>
    </div>
  </div>

  <div class="container">
    <h6>При необходимости, ниже вы можете изменить данные о себе.</h6>
      <p>После завершения редактирования не забудьте нажать кнопку "Сохранить"</p>
    <form method="POST" action="" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.username.label(class='form-group')}}
        {{form.username(class='form-control')}}
      </div>
      <div class="form-group">
        {{form.email.label(class='form-group')}}
        {{form.email(class='form-control')}}
      </div>
      <div class="form-group">
        {{form.picture.label(class='form-group')}}
        {{form.picture(class='form-control-file')}}
      </div>
      <div class="form-group">
        {{form.first_name.label()}}
        {{form.first_name(class="form-control", placeholder="Ваше имя")}}
      </div>
      <div class="form-group">
        {{form.last_name.label()}}
        {{form.last_name(class="form-control", placeholder="Ваша фамилия")}}
      </div>
      <div class="form-group">
        {{form.phone_num.label()}}
        {{form.phone_num(class="form-control", placeholder="Номер телефона")}}
      </div>
      <div class="form-group">
        {{form.address.label()}}
        {{form.address(class="form-control", placeholder="Ваш адрес (город)")}}
      </div>
      <div class="form-group">
        {{form.curr_job_place.label()}}
        {{form.curr_job_place(class="form-control", placeholder="Место работы")}}
      </div>
      <div class="form-group" align='right'>
        {{form.submit(class='btn btn-primary')}}
      </div>

    </form>
  </div>
{% endblock %}
