{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="jumbotron">
    <h1>Методический сервер</h1>
    <p>Используется для создания, хранения и распространения и практического исспользования методических разработок.</p>
  </div>

<div class="container">
  {% if current_user.is_authenticated %}
    <strong><p>Приветствую, {{current_user.username}}.</p></strong>
    <p>При редактировании созданной вами методики вы можете прикрепить изображения, ссылки на музыку, ссылки на видео
      и проигрывать их со страницы методики во время занятия.</p>
    <p>Поместите новую методику в одну из существующих категорий, либо, при необходимости, создайте новую.
      Выбор методик определенной категории доступен на <a href="{{url_for('core.index')}}">главной странице</a>.</p>
    <p>Кликнув на имя автора методики (например <a href="{{url_for('users.user_methodics', username=current_user.username)}}"> <small>{{current_user.username}}</small></a>) вы попадете на страницу со списком всех методик данного автора.</p>
    <p>Для редактирования вам доступны ваши методики, а так же те, для которых вы указаны в качестве администратора или модератора.</p>
    <br>
    <p>В блоке<a href="{{url_for('projects.projects_list')}}"> ведения проектов</a> вы можете:</p>
    <ul>
      <li>
        Создать свой проект
      </li>
      <li>
        Для этого проекта создать периоды занятий (четверти/семестры/смены)
      </li>
      <li>
        В рамках каждого периода создать курсы занятий
      </li>
      <li>
        Каждый курс имеет свое расписание мероприятий и список участников
      </li>
      <li>
        К любому мероприятию курса можно прикрепить одну из методик, размещенных в методической библиотеке
      </li>
    </ul>
    <p>Так же вы можете администрировать уже созданные проекты, в настройках которых вы указаны в качестве администратора или модератора.</p>

  {% else %}
    <p>Если вы желаете присоединиться к команде методистов и добавить свою разработку,
      вам следует пройти процедуру <a href="{{url_for('users.register')}}">регистрации</a>, залогиниться и выбрать в меню появившейся пункт "Добавить методику".</p>
    <p>Созданные методики можно использовать при составлении расписаний зянятий, которое доступно в блоке <a href="{{url_for('projects.projects_list')}}">ведения проектов</a>, в котором есть возможность</p>
    <ul>
      <li>
        Создать свой проект
      </li>
      <li>
        Для этого проекта создать периоды занятий (четверти/семестры/смены)
      </li>
      <li>
        В рамках каждого периода создать курсы занятий
      </li>
      <li>
        Каждый курс имеет свое расписание мероприятий и список участников
      </li>
      <li>
        К любому мероприятию курса можно прикрепить одну из методик, размещенных в методической библиотеке
      </li>
    </ul>
  {% endif %}
</div>

{% endblock %}
