{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron">
    <h1>Методический сервер</h1>
    <p>Используется для создания, хранения и распространения методических разработок.</p>
  </div>

<div class="container">
  {% if current_user.is_authenticated %}
    <strong><p>Приветствую, {{current_user.username}}.</p></strong>
    <p>При редактировании созданной вами методики вы можете прикрепить изображения, ссылки на музыку, ссылки на видео
      и проигрывать их со страницы методики во время занятия.</p>
    <p>Поместите новую методику в одну из существующих категорий, либо, при необходимости, создайте новую.
      Выбор методик определенной категории доступен на <a href="{{url_for('core.index')}}">главной странице</a>.</p>
    <p>Кликнув на имя автора методики (например <a href="{{url_for('users.user_methodics', username=current_user.username)}}"> <small>{{current_user.username}}</small></a>) вы попадете на страницу со списком всех методик данного автора.</p>
    <p>Для редактирования вам доступны только ваши методики.</p>

  {% else %}
    <p>Если вы желаете присоединиться к команде методистов и добавить свою разработку,
      вам следует пройти процедуру <a href="{{url_for('users.register')}}">регистрации</a>, залогиниться и выбрать в меню появившейся пункт "Добавить методику".</p>
  {% endif %}
</div>

{% endblock %}
