{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="jumbotron" align="center">
    <h2>Создание занятия курса</h2>
    <h5><a class="text-body text-decoration-none" href="{{url_for('projects.project_view', project_id=project.id)}}">{{project.name}}</a></h5>
    <h5><a class="text-body text-decoration-none" href="{{url_for('projects.term_view', term_id=term.id)}}">{{term.name}}</a></h5>
    <h5><a class="text-body text-decoration-none" href="{{url_for('courses.course_view', course_id=course.id)}}">{{course.name}}</a></h5>
    <img align='center' height='200px' src="{{url_for('static', filename='projects_pics/default_lesson.png')}}">

    <p>Заполните форму ниже и нажмите Сохранить</p>
  </div>
  <div class="container">
    <form class="form-group" method="post">
      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.description.label(class='form-control-label')}}
        {{form.description(class='form-control form-control')}}
      </div>
      <table width='100%'>
        <tr>
          <td width='40%'>
            <div class="form-group">
              {{form.lesson_date.label(class='form-control-label')}}
              {{form.lesson_date(class='form-control form-control')}}
            </div>
          </td>
          <td>
            <div class="form-group">
              {{form.start_time.label(class='form-control-label')}}
              {{form.start_time(class='form-control form-control')}}
            </div>
          </td>
          <td>
            <div class="form-group">
              {{form.finish_time.label(class='form-control-label')}}
              {{form.finish_time(class='form-control form-control')}}
            </div>
          </td>
        </tr>
      </table>
      <p>Сохранив новое занятие вы перейдёте к его расширенному редактированию.</p>
      <div class="form-group" align='right'>
        {{form.submit(class='btn btn-outline-info')}}
      </div>
    </form>
  </div>
{% endblock %}
