{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="jumbotron">
    <!-- Вывод методики в карточки по пунктам -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto" align='left'>
          {% if method %}
            <a href="{{url_for('methodics.method', method_id=method.id)}}">
              <img align='center' height='200px' src="{{url_for('static', filename = 'methodics_pics/method_ava/'+method.method_label_image)}}">
            </a>
          {% else %}
            <img align='center' height='200px' src="{{url_for('static', filename = 'projects_pics/default_lesson.png')}}">
          {% endif %}
        </div>
        <div class="col-lg">
          <h2>{{lesson.description}}</h2>
          <h5><a class="text-body text-decoration-none" href="{{url_for('projects.project_view', project_id=project.id)}}">{{project.name}}</a></h5>
          <h5>&nbsp;&nbsp;&nbsp;<a class="text-body text-decoration-none" href="{{url_for('projects.term_view', term_id=term.id)}}">{{term.name}}</a></h5>
          <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="text-body text-decoration-none" href="{{url_for('courses.course_view', course_id=course.id)}}">{{course.name}}</a></h5>
          <br>
          <table>
            <tr>
              <td>
                Время занятия:
              </td>
              <td>
                <strong>&nbsp;{{date_translate(lesson.lesson_date)}}</strong>
              </td>
            </tr>
            <tr>
              <td align='right'>
                c
              </td>
              <td>
                <strong>&nbsp;{{lesson.start_time.strftime('%H:%M')}}</strong> до <strong>{{lesson.finish_time.strftime('%H:%M')}}</strong>
              </td>
            </tr>
          </table>
          {% if ((project.author_id == current_user) or (current_user.username == 'Administrator') or moder_stat) %}
            <br>
            <div class="" align='right'>
              <a class='btn btn-outline-warning btn-sm' href="{{url_for('courses.update_lesson', lesson_id=lesson.id)}}">Изменить</a>
              <button type="button" class='btn btn-outline-danger btn-sm' data-toggle='modal' data-target='#del_modal_lesson'>Удалить</button>  <!-- Кнопка вызывает всплывающее окно modal описанное ниже-->
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if (lesson.method_id != "" and lesson.method_id != None) %}
    <div class="accordion" id="accordionMethod">
      <div class="card">
        <h5 class="card-header" id="headingMethod">
          <table width="100%">
            <tr>
              <td>Методика:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseMethod" aria-expanded="True" aria-controls="collapseMethod">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseMethod" class="collapse show" aria-labelledby="headingMethod" data-parent="#accordionMethod">
          <div class="card-body">
            <p>{{method.title}}</p>
            <p>{{method.short_desc}}</p>
            <div align='left'>
              <a class='btn btn-primary btn-sm' style="margin-right:6px;" href="{{url_for('methodics.method', method_id=method.id)}}">Открыть</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (lesson.tutors != "" and lesson.tutors != None) %}
    <div class="accordion" id="accordionTutors">
      <div class="card">
        <h5 class="card-header" id="headingTutors">
          <table width="100%">
            <tr>
              <td>Преподаватели, ведущие:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseTutors" aria-expanded="True" aria-controls="collapseTutors">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseTutors" class="collapse show" aria-labelledby="headingTutors" data-parent="#accordionTutors">
          <div class="card-body">
            {{tutors}}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (lesson.absent_students_list != "" and lesson.absent_students_list != None) %}
    <div class="accordion" id="accordionAbsentStudentsList">
      <div class="card">
        <h5 class="card-header" id="headingAbsentStudentsList">
          <table width="100%">
            <tr>
              <td>Отсутствовавшие участники:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseAbsentStudentsList" aria-expanded="True" aria-controls="collapseAbsentStudentsList">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseAbsentStudentsList" class="collapse show" aria-labelledby="headingAbsentStudentsList" data-parent="#accordionAbsentStudentsList">
          <div class="card-body">
            {{lesson.absent_students_list}}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (lesson.web_links != "" and lesson.web_links != None) %}
    <div class="accordion" id="accordionWebLinks">
      <div class="card">
        <h5 class="card-header" id="headingWebLinks">
          <table width="100%">
            <tr>
              <td>Ссылки:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseWebLinks" aria-expanded="True" aria-controls="collapseWebLinks">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseWebLinks" class="collapse show" aria-labelledby="headingWebLinks" data-parent="#accordionWebLinks">
          <div class="card-body">
            {{web_links}}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (lesson.note != "" and lesson.note != None) %}
    <div class="accordion" id="accordionNote">
      <div class="card">
        <h5 class="card-header" id="headingNote">
          <table width="100%">
            <tr>
              <td>Примечание:</td>
              <td>
                <div align='right'>
                  <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseNote" aria-expanded="True" aria-controls="collapseNote">
                    скрыть / просмотреть
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </h5>
        <div id="collapseNote" class="collapse show" aria-labelledby="headingNote" data-parent="#accordionNote">
          <div class="card-body">
            {{note}}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (lesson.attach != "" and lesson.attach != None) %}
    <div class="card">
      <h5 class="card-header">Прикрепленные файлы:</h5>
      <div class="card-body">
        <table class="table table-sm">
          {% for attachment in attachments %}
            <tr>
              <td>{{attachment}}</td>
              <td><a class='btn btn-outline-success btn-sm' href="{{url_for('courses.download_lesson_attachment', lesson_id=lesson.id, attachment=attachment)}}">Скачать</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}

<!-- Модал кнопки удаления -->
  <div class="modal" tabindex="-1" role="dialog" id='del_modal_lesson'>   <!--  id='del_modal_term' это тоже имя что и в настройке кнопки data-target='#del_modal'-->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Удалить занятие?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Вы уверены что хотите полностью удалить данное занятие?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
          <!--  Вставка взамен существующей в примере кнопки-->
          <form action="{{url_for('courses.delete_lesson', lesson_id=lesson.id)}}" method="POST">
            <input class='btn btn-danger' type="submit" value="Удалить">
          </form>
        </div>
      </div>
    </div>
  </div>
<p></p>

{% endblock %}
