{% extends 'base.html' %}
{% block content %}
<form class="form-group" method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <br>
  <div class="jumbotron">

    <div class="container">
      <div class="row">
        <div class="col-auto" align='left'>
          <img align='center' width='200px' src="{{label_image}}">
          <br><br>
          <div class="form-group" align='left'>
            {{form.label_image.label(class='form-group')}}
            {{form.label_image(class='form-control-file')}}
          </div>
        </div>
        <div class="col-lg">
          <h2>Редактирование курса занятий</h2>
          <h5><a class="text-body text-decoration-none" href="{{url_for('projects.project_view', project_id=project.id)}}">{{project_name}}</a></h5>
          <h5><a class="text-body text-decoration-none" href="{{url_for('projects.term_view', term_id=term.id)}}">&nbsp;&nbsp;&nbsp;{{term_name}}</a></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div align='right' class="text-muted">
      <h5>Заполните форму ниже, и нажмите {{form.submit(class='btn btn-outline-info')}}</h5>
    </div>
    <div class="form-group">
      <strong>{{form.name.label(class='form-control-label')}}</strong>
      {{form.name(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.description.label(class='form-control-label')}}</strong>
      {{form.description(class='form-control', rows="5")}}
    </div>
    <table width='100%'>
      <tr>
        <td width='50%'>
          <div class="form-group">
            <strong>{{form.start_date.label(class='form-control-label')}}</strong>
            {{form.start_date(class='form-control')}}
          </div>
        </td>
        <td>
          <div class="form-group">
            <strong>{{form.finish_date.label(class='form-control-label')}}</strong>
            {{form.finish_date(class='form-control')}}
          </div>
        </td>
      </tr>
    </table>
    <div class="form-group">
      <strong>{{form.contacts_info.label(class='form-control-label')}}</strong>
      {{form.contacts_info(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.address.label(class='form-control-label')}}</strong>
      {{form.address(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.tutors.label(class='form-control-label')}}</strong>
      {{form.tutors(class='form-control')}}
    </div>
    <div class="form-group">

      <strong>{{form.web_links.label(class='form-control-label')}}</strong>
      <br><small class="text-muted">Каждую с новой строки</small>
      {{form.web_links(class='form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.note.label(class='form-control-label')}}</strong>
      {{form.note(class='form-control')}}
    </div>
    <!-- Блок работы с прикрепленными файлами -->
    {% if attachments %}
      <!-- Прикрепленные файлы: -->
      <table class="table table-sm">
        <tr class="table-info">
          <th scope="col">Прикрепленные файлы:</th>
          <th></th>
        </tr>
        {% for attachment in attachments %}
          <tr>
            <td> {{attachment}}</td>
            <td align='center'> <a class='btn btn-outline-success btn-sm' href="{{url_for('courses.download_attachment', course_id=course.id, attachment=attachment)}}">Скачать</a>
            <a class='btn btn-outline-danger btn-sm' href="{{url_for('courses.delete_attachment', course_id=course.id, attachment=attachment)}}">Удалить</a></td>
          </tr>
        {% endfor %}
      </table>
      <div class="form-group">
        Для добавления еще одного файла (pdf, pptx, docx, txt)
        {{form.attach(class='form-control-file')}}
      </div>
    {% else %}
    <div class="form-group">
      {{form.attach.label(class='form-control-label')}}
      {{form.attach(class='form-control-file')}}
    </div>
    {% endif %}
    <div class="form-group" align='right'>
      {{form.submit(class='btn btn-outline-info')}}
    </div>
  </div>
</form>
{% endblock %}
