{% extends 'base.html' %}
{% block content %}
<form class="form-group" method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <br>
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto" align='left'>
          {% if method %}
            <a href="{{url_for('methodics.method', method_id=method.id)}}">
              <img align='center' height='200px' src="{{url_for('static', filename = 'methodics_pics/method_ava/'+method.method_label_image)}}">
            </a>
          {% else %}
            <img align='center' height='200px' src="{{url_for('static', filename = 'projects_pics/default_lesson.png')}}">
          {% endif %}
        </div>
        <div class="col-lg">
          <h2>Редактирование занятия</h2>
          <h5><a class="text-body text-decoration-none" href="{{url_for('projects.project_view', project_id=project.id)}}">{{project.name}}</a></h5>
          <h5>&nbsp;&nbsp;&nbsp;<a class="text-body text-decoration-none" href="{{url_for('projects.term_view', term_id=term.id)}}">{{term.name}}</a></h5>
          <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="text-body text-decoration-none" href="{{url_for('courses.course_view', course_id=course.id)}}">{{course.name}}</a></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div align="right" class="text-muted">
      <h5>Заполните форму ниже и нажмите {{form.submit(class='btn btn-outline-info')}}</h5>
    </div>
    <div class="form-group">
      <strong>{{form.description.label(class='form-control-label')}}</strong>
      {{form.description(class='form-control form-control', rows="5")}}
    </div>
    <table width='100%'>
      <tr>
        <td width='40%'>
          <div class="form-group">
            <strong>{{form.lesson_date.label(class='form-control-label')}}</strong>
            {{form.lesson_date(class='form-control form-control')}}
          </div>
        </td>
        <td>
          <div class="form-group">
            <strong>{{form.start_time.label(class='form-control-label')}}</strong>
            {{form.start_time(class='form-control form-control')}}
          </div>
        </td>
        <td>
          <div class="form-group">
            <strong>{{form.finish_time.label(class='form-control-label')}}</strong>
            {{form.finish_time(class='form-control form-control')}}
          </div>
        </td>
      </tr>
    </table>
    <div class="form-group">
      <strong>{{form.method_id.label(class='form-control-label')}}</strong>
      {% if method %}
        <table width='100%'>
          <tr>
            <td>
              <p>{{method.title}}</p>
              <p>{{method.short_desc}}</p>
            </td>
            <td width='200px'>
              <div align='right'>
                <a class='btn btn-outline-warning btn-sm' href="{{url_for('methodics.search_method', category=0)}}" title="Выбрать методику для занятия">Поменять методику</a>
              </div>
            </td>
          </tr>
        </table>
      {% else %}
        <a class='btn btn-outline-danger btn-sm' href="{{url_for('methodics.search_method', category=0)}}" title="Выбрать методику для занятия">Выбрать методику</a>
      {% endif %}

      <!-- {{form.method_id(class='form-control form-control')}} -->
    </div>
    <div class="form-group">
      <strong>{{form.tutors.label(class='form-control-label')}}</strong>
      {{form.tutors(class='form-control form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.absent_students_list.label(class='form-control-label')}}</strong>
      {{form.absent_students_list(class='form-control form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.web_links.label(class='form-control-label')}}</strong>
      {{form.web_links(class='form-control form-control')}}
    </div>
    <div class="form-group">
      <strong>{{form.note.label(class='form-control-label')}}</strong>
      {{form.note(class='form-control form-control')}}
    </div>
    <!-- Блок работы с прикрепленными файлами -->
    {% if attachments %}
      <!-- Прикрепленные файлы: -->
      <table class="table table-sm">
        <tr class="table-info">
          <th scope="col">Прикрепленные файлы:</th>
          <th></th>
        </tr>
        {% for attachment in attachments %}
          <tr>
            <td> {{attachment}}</td>
            <td align='center'> <a class='btn btn-outline-success btn-sm' href="{{url_for('courses.download_lesson_attachment', lesson_id=lesson.id, attachment=attachment)}}">Скачать</a>
            <a class='btn btn-outline-danger btn-sm' href="{{url_for('courses.delete_lesson_attachment', lesson_id=lesson.id, attachment=attachment)}}">Удалить</a></td>
          </tr>
        {% endfor %}
      </table>
      <div class="form-group">
        Для добавления еще одного файла (pdf, pptx, docx, txt)
        {{form.attach(class='form-control-file')}}
      </div>
    {% else %}
    <div class="form-group">
      {{form.attach.label(class='form-control-label')}}
      {{form.attach(class='form-control-file')}}
    </div>
    {% endif %}
    <div class="form-group" align='right'>
      {{form.submit(class='btn btn-outline-info')}}
    </div>
  </div>
</form>
{% endblock %}
