{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-auto" align='left'>
          <img align='center' src="{{url_for('static', filename='projects_pics/project_term/default_term.png')}}">
        </div>
        <div class="col-lg">
          <h2>Добавление периода деятильности проекта</h2>
          <h5><a class="text-body text-decoration-none" href="{{url_for('projects.project_view', project_id=project_id)}}">{{project_name}}</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <form class="form-group" method="post">
      {{form.hidden_tag()}}
      <div align="right" class="text-muted">
        <h5>Заполните форму ниже и нажмите {{form.submit(class='btn btn-outline-info')}}</h5>
      </div>
      <div class="form-group">
        <strong>{{form.name.label(class='form-control-label')}}</strong>
        {{form.name(class='form-control')}}
      </div>
      <div class="form-group">
        <strong>{{form.description.label(class='form-control-label')}}</strong>
        {{form.description(class='form-control')}}
      </div>
      <table width='100%'>
        <tr>
          <td width='50%'>
            <div class="form-group">
              <strong>{{form.start_date.label(class='form-control-label')}}</strong>
              {{form.start_date(class='form-control')}}
            </div>
          </td>
          <td>
            <div class="form-group">
              <strong>{{form.finish_date.label(class='form-control-label')}}</strong>
              {{form.finish_date(class='form-control')}}
            </div>
          </td>
        </tr>
      </table>
      <p>Сохранив новый период вы перейдёте к его расширенному редактированию.</p>
      <div class="form-group" align='right'>
        {{form.submit(class='btn btn-outline-info')}}
      </div>
    </form>
  </div>
{% endblock %}
