{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="container-fluid">
    <!-- <div class="jumbotron" style="background-image: url({{url_for('static', filename = 'base/jumbo_bg5.jpg')}});"> -->
    <div class="jumbotron">
      <table width='100%'>
        <tr>
          <td>
            <h1>Периоды занятий</h1>
            <h5><a class="text-body text-decoration-none" href="{{url_for('projects.project_view', project_id=project_id)}}">{{project_name}}</a></h5>
          </td>
          <td>
            <div class="" align='right'>
              <img align='center' height='200px' src="{{url_for('static', filename = 'projects_pics/project_ava/'+label_image)}}">
              {% if current_user.is_authenticated %}
                <br><br>
                <a class='btn btn-outline-info' href="{{url_for('projects.create_term', project_id=project_id)}}">Создать период занятий</a>
              {% endif %}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

<!--  Расписание  -->
  <div class="container-fluid">
    <!-- <div class="card-columns"> -->
    {% for term in term_set.items %}
      <table class="table table-sm">
        <tr>
          <td width='100px'>
            <a href="{{url_for('projects.term_view', term_id=term.id)}}">
              <img width='100px' src="{{url_for('static', filename = 'projects_pics/project_term/'+term.label_image)}}" alt="Card image cap">
            </a>
          </td>
          <td width='50%'>
            <a class='text-info' href="{{url_for('projects.term_view', term_id=term.id)}}">
              <p class='h5'>{{term.name}}</p>
            </a>
            <!-- {% for list in description_dict[term.id] %}
                <p >{{ list }}</p>
            {% endfor %} -->
            {{description_dict[term.id]}}
          </td>
          <td align='right'>
            Дата начала: {{date_translate(term.start_date)}}<br>
            Дата завершения: {{date_translate(term.finish_date)}}
          </td>
          <td width='80px'>
            <div align='right'>
              <a class='btn btn-primary btn-sm' style="margin-right:6px;" href="{{url_for('projects.term_view', term_id=term.id)}}">Открыть</a>
            </div>
          </td>
        </tr>
      </table>
    {% endfor %}
    </div>
  </div>

<!--  Pagination-->
  <nav aria-label='Page Navigation example'>
    <ul class='pagination justify-content-center'>
      {% for page_num in term_set.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if term_set.page == page_num %}  <!-- Если мы уже на запрашиваемой странице -->
          <li class='page-item disabled'>  <!-- то номер этой страницы задисэйблин -->
            <a class='page-link' href="{{url_for('projects.term_list', page=page_num, project_id=project_id)}}">{{page_num}}</a>
          </li>
        {% else %}
          <li class='page-item'>  <!-- то номер этой страницы задисэйблин -->
            <a class='page-link' href="{{url_for('projects.term_list', page=page_num, project_id=project_id)}}">{{page_num}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endblock %}
