{% extends 'base.html' %}
{% block content %}
  <br>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-auto" align='left'>
          <img align='center' height='200px' src="{{url_for('static', filename = 'projects_pics/project_courses/'+course_label_image)}}">
        </div>
        <div class="col-lg">
          <h2>Переименование группы участников курса</h2>
          <h5><a class="text-body text-decoration-none" href="{{url_for('projects.project_view', project_id=project.id)}}">{{project.name}}</a></h5>
          <h5>&nbsp;&nbsp;&nbsp;<a class="text-body text-decoration-none" href="{{url_for('projects.term_view', term_id=term.id)}}">{{term.name}}</a></h5>
          <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="text-body text-decoration-none" href="{{url_for('courses.course_view', course_id=course_id)}}">{{course_name}}</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <form class="form-group" method="post">
      {{form.hidden_tag()}}
      <div align="right" class="text-muted">
        <h5>Заполните форму ниже и нажмите {{form.submit(class='btn btn-outline-info')}}</h5>
      </div>
      <div class="form-group">
        {{form.description.label(class='form-control-label')}}
        {{form.description(class='form-control form-control-lg')}}
      </div>
      <div class="form-group" align='right'>
        {{form.submit(class='btn btn-outline-info')}}
      </div>
    </form>
  </div>
{% endblock %}
